- stable id: 'foo', class: 'w120' do
  - tr do
    - td 'L\N'
    - td 'Title 1'
    - td 'Title 2', column: { class: 'm' }
    - td 'Title 3'
    - td 'Title 4', column: { class: 'm' }
    - td 'Title 5'
    - td 'Title 6'
    - td 'Title 7'
    - td 'Title 8'
    - td 'Title 9'
  - ('a'..'z').each do |c|
    - tr class: "#{'m' if 'abefijk'.include? c}" do
      - td "Title #{c}"
      - td "#{c}1"
      - td "#{c}2"
      - td "#{c}3"
      - td "#{c}4"
      - td "#{c}5"
      - td "#{c}6"
      - td "#{c}7"
      - td "#{c}8"
      - td "#{c}9"

%button(onclick="$('.m').toggleClass('hidden');$('#foo').stable();") Hide some cells
%br
%br

- stable class: 'w120', fixed_rows: 2 do
  - tr do
    - td 'L\N'
    - td 'Title 1'
    - td 'Title 2'
    - td 'Title 3', column: { class: 'red' }
    - td 'Title 4'
    - td 'Title 5'
    - td 'Title 6'
    - td 'Title 7'
  - ('a'..'z').each do |c|
    - tr do
      - td "Title #{c}"
      - td "#{c}1"
      - td "#{c}2"
      - td "#{c}3"
      - td "#{c}4"
      - td "#{c}5", column: { class: 'blue' }
      - td "#{c}6"
      - td "#{c}7"

- stable class: 'w120', fixed_rows: 2 do
  - tr do
    - td 'L\N'
    - td 'Title 1', style: 'width: 252px; text-align: center'
    - td 'Title 3', style: 'width: 252px; text-align: center'
    - td 'Title 5', style: 'width: 384px; text-align: center'
  - ('a'..'z').each do |c|
    - tr do
      - td "Title #{c}"
      - td "#{c}1"
      - td "#{c}2"
      - td "#{c}3"
      - td "#{c}4"
      - td "#{c}5"
      - td "#{c}6"
      - td "#{c}7"

- stable class: 'w120' do
  - thead do
    - tr class: 'first' do
      - td 'L\N'
      - td 'Title 1'
      - td 'Title 2'
      - td 'Title 3'
      - td 'Title 4'
      - td 'Title 5'
    - tr class: 'second' do
      - td "Title a"
      - td "a1"
      - td "a2"
      - td "a3"
      - td "a4"
      - td "a5"
  - tbody do
    - tr class: 'third' do
      - td "Title b"
      - td "b1"
      - td "b2"
      - td "b3"
      - td "b4"
      - td "b5"
    - tr class: 'forth' do
      - td "Title c"
      - td "c1"
      - td "c2"
      - td "c3"
      - td "c4"
      - td "c5"
    - tr do
      - td "Title d"
      - td "d1"
      - td "d2"
      - td "d3"
      - td "d4"
      - td "d5"
    - tr do
      - td "Title e"
      - td "e1"
      - td "e2"
      - td "e3"
      - td "e4"
      - td "e5"
    - tr class: 'third' do
      - td "Title b"
      - td "b1"
      - td "b2"
      - td "b3"
      - td "b4"
      - td "b5"
    - tr class: 'forth' do
      - td "Title c"
      - td "c1"
      - td "c2"
      - td "c3"
      - td "c4"
      - td "c5"
    - tr do
      - td "Title d"
      - td "d1"
      - td "d2"
      - td "d3"
      - td "d4"
      - td "d5"
    - tr do
      - td "Title e"
      - td "e1"
      - td "e2"
      - td "e3"
      - td "e4"
      - td "e5"